---
layout: bootstrap
hero: true
---
<div class="container py-5">
  <div class="row">
    <div class="col-md-7 pb-5">

      {{ content }}

    </div>

    <div class="col-md-4 offset-md-1">
      <p>Interested? We'd like to hear from you.</p>
      <p><a href="https://forms.gle/3c6YeFd4dznnhAKE7" class="btn btn-primary mt-3 px-5">Apply</a></p>
      <div class="py-5">
        <p>
          <a href="/jobs" class="small text-secondary">&larr;  back to jobs</a>
        </p>
      </div>
    </div>
  </div>

</div>
